$primary: #FFFFFF;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #6c7683;
$secondary-light: #8091a7;
$secondary-dark: #2b333b;

$on-primary: #000;
$on-primary-light: #A1A1A1;
$on-secondary: #fff;

$highlight: rgb(124, 105, 105);